body {
    background: #222;
    user-select: none;
}

canvas {
    /* border: 1px solid red; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#experiences a {
    display: block;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
}

#experiences a:visited {
    color: #ddd;
}
